.top{
    /* display: flex; */

}
.cat{
    margin-top: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    /* margin: 20,20,20,20; */
    

    /* margin-top: 30px; 
    margin-left: 80px;
    margin-bottom: 30px; */
    
}
.name{
    align-items: center ;
    font-size: 70px;
    padding-left: 150px;

    
}
.mozi{
    font-size: 40px;
   
}
.icon{
    
    display: flex;
    width: 100%;
    background: white;
    justify-content: space-between;
}
.icon p{
    
    font-size: 30px;
    margin: auto;
}
.b1 {
    background:none;
    outline: none;
}
.b2{
    background:none;
    outline: none;
}
.b3{
    background:none;
    outline: none;

}
.fa-phone-square{
    
    color: rgb(181, 243, 243);
}
.fa-envelope{
    color: rgb(190, 241, 139);
}
.fa-instagram{
    color: rgb(219, 126, 219);
}
.im{
    display: flex;
}
.bike{
    width: 300px;
    height: 300px;
}

.matuge{
    width: 300px;
    height: 300px;

}
.pasuta{
    width: 300px;
    height: 300px;
}
.sea{
    width: 300px;
    height: 300px;
}
.box1{
    width: 100%;
    /* padding: 40px 40px; */
    /* margin: 10px; */
    color: turquoise;
    background-color: white;
    border-top: solid ;
    border-bottom: solid;
    left: 5px;
}
@media screen and (max-width:780px){
    .cat1{
        display: flex;
        width: 150px;
        height: 150px;
        margin: 10,10,50,10;
       
    }
    .name{
        font-size: 20px;
        padding-top: 50px;
        padding-left: 40px;
    }
    .top{
        margin: auto;
        height: 200px;
    }
    .b1{
        position: absolute;
    }
    
    .b2{
        position: relative;
        left: 90px;
     }
    .b3{
        position: relative;
        left: 50px;


    }
        
    

    .icon p{

        /* 文字を消す */
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

    } 
   
    .mozi{
        
        font-size: 20px;
    }
    .im{
        height: 300px;
        /* overflow: hidden; */
        position: relative;
    }

    .im img:nth-of-type(1){
        z-index: 10;
        opacity: 0;
        width: 100%;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        animation: anime 10s 15s 1 forwards; 
    }

    .im img:nth-of-type(2){
        z-index: 9;
        opacity: 0;
        width: 100%;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        animation: anime 10s 10s 1 forwards; 
    }

    .im img:nth-of-type(3){
        z-index: 8;
        opacity: 0;
        width: 100%;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        animation: anime 10s 5s 1 forwards; 
    }

    .im img:nth-of-type(4){
        z-index: 7;
        opacity: 1;
        width: 100%;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        animation: anime 10s 1 forwards; 
    }


    @keyframes anime{
        0%{
            opacity: 0;
        }
        32%{    
            opacity: 1;
        }
        64%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}